* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  color: #484848db;
}
.contenedor {
  display: flex;
  flex-flow: row wrap;
}

header {
  width: 100%; 
background: #2ECCFA;
}
.area{
  margin: 0 25%;
  padding: 5px 0;
}
header .area{
/* padding: 10px; */
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
}


header .logo {
  color: #fff;
  font-size: 20px;
  /* align-self: center; */
}

header .logo a {
  color: #fff;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}



header nav a:hover {
  background: #e74c3c;
}

/*Search*/

input[type="search"] {
  border: none;
  height: 25px;
  width: 40%;
  border-radius: 25px;
  padding: 0.35em 0.75em;
  border: none;
  font-size: 1em;
  color: #2ECCFA;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
  transition: 0.5s;
  
}
input[type="search"]:focus {
  width: 100%;
  letter-spacing: .1em;
  outline: none;
  transition: 0.5s;
}

article {
  background: #fff;
  padding:10px 0;
  margin: 5px 0;
  border-radius: 0px;
  border-bottom: 1px solid #48484826;
}
article:first-child{
  margin: 10px 0;
}
article:last-child {
  margin: 5px 0px 10px 0px;
}


.img-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.img-container img{
  padding: 5px;
}
.img-rounded {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-width: 90px;
  max-height: 90px;
  border-bottom: 1px solid #E7EBEC;
}

article h3 {
  padding: 0;
  font-weight: 200;
  margin: 0;
  color: #2ECCFA;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left:10px;

}

.text-container p {
  padding: 10px 0;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.icons {
  padding: 5px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
}

.icons i {
  color: #2ECCFA;
}

.icons span {
  padding: 0 5px;
  color:#484848c9;
}

footer{
  width: 100%;
  padding: 10px 0;
  background: #2ECCFA;  
}

footer p{
  color: #fff;  
}

@media (max-width:600px) {
  .area {
    margin: 0 1%;    
  }
  
  .padre {
    flex-direction: column;
    padding: 20px;
  } 

  .hide {
    display: none;
  } 

  section {
    padding: 0 20px;
  }
}